<!DOCTYPE html>
<html>
<head>
    <title>Face Crop & Save</title>
    <meta charset="utf-8">
</head>
<body>
    <h1>얼굴사진 저장 페이지</h1>
    <h3>이름을 영어로 입력해주세요</h3>
    <!-- <form action='/crop/' method='POST'>
        <input type='text' name='name'>
        <input type='submit' id='crop' value='시작'>
    </form> -->
    <input type="text" id="name" name="name">
    <p>
        <input type="submit" id="crop" name="crop" value="시작">
        <input type="button" id="back" name="back" value="뒤로가기" onclick="window.location.href='/index/'">
    </p>
</body>

<!-- jQuery-latest -->
<script src="https://code.jquery.com/jquery-latest.min.js"></script>

<!-- Javascript -->
<script>
    var userName = $('#name').val()
    var sendData = {
        name : userName
    }
    $("#crop").on("click", function() {
        $.ajax({
            url : "{{ url_for('crop') }}",
            type : "POST",
            dataType : "JSON", // JSON, "json", "JSON"은 되지만 json만 불가능
            contentType : "application/json", // 이거 안 써주면 오류
            // data : {
            //     name : userName // 이렇게 보내주면 가긴 가지만 NoneType으로 나옴
            // },
            data : JSON.stringify(sendData), // json 객체를 String 객체로 변환
            success:function(response) {
                alert('작업 완료')
            },
            error:function(jqXHR, exception) {
                alert('통신 오류')
            }
        })
    })
</script>
</html>