<!DOCTYPE html>
<html>
<head>
    <title>Index</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css')}}">
</head>
<body>
    <center>
        <h1>출입관제 시스템</h1>
        <p>
            <input type='button' id='aaa' name='data' value='데이터 전송' onclick="window.location.href='/test/'">
        </p>
        <p>
            <input type='button' name='crop' value='얼굴사진 저장' onclick="window.location.href='/crop/'">
        </p>
        <p>
            <input type='button' name='monitor' value='출입기록 확인' onclick="window.location.href='/monitor/'">
        </p>
        <p>
            <form action="/identify/" method='POST'>
                <input type='submit' name='identify' value='신원확인'>
            </form>
        </p>
    </center>
    <!--
    <a href="/test">웹사이트 test로 이동</a> 
    a href는 GET방식만 지원하기 때문에 접근하려는 사이트가 POST방식이면 Error
    -->
</body>
</html>